* {
    background-color: black;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section {
    scale: 1.3;
    margin: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    border-radius: 12em;
    padding: 4em;
}
header {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
}
header {

}
li {
   margin: 1em;
    color: white;

}
a {
    text-decoration: none;
    color: inherit
}
#logOutButton {
    color : white;
    background-color: orange;
    border-radius: 5px;
    width: 5em;
    height: 5em;
}
h1 {
color: #81b64c;
}
h2 {
color: white;
    background-color: grey;
}
input {
    background-color: #81b64c;
    color : white;
    border-radius: 5px;
    width: 13em;
    height: 5em;
    display: flex;
}
input[type="submit"]:hover {
    background-color: #0056b3; /* Ciemniejszy niebieski */
    transform: scale(1.05); /* Powiększenie */
}