
* {
    background-color: #30302b;
}

h1 a{
    color: #81b64c;
    background: url('../Images/logo.png') no-repeat;
    width: 150px;
    height: 175px;
    scale: 1.3;
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    padding: 2em;
    align-items: center;
    flex-direction: column;
    scale: 1.3;
}


div {
    padding: 0.5em;
}
label {
    display: block;
    margin-bottom: 0.5em;
}
h3, h2, label {
    color: white;
}
a {
    text-decoration: none;
    color : white;
    background-color: orange;
}
a:hover {
    opacity: 0.75;
    transform: scale(1.05);
}
p {
    display: flex;
    background-color: orange;
    border-radius: 5px;
    width: 7em;
    height: 3em;
    justify-content: center;
    align-items: center;
}
input[type="text"],
input[type="password"] {
    max-width: 25em;
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgb(159, 159, 159);;
}

input[type="submit"]{
    background-color: #81b64c;
    color: white;
    max-width: 25em;
    width: 110%;
    height: 2.5em;
    border-radius: 10px;
    border: none;
}
input[type="submit"]:hover {
    opacity: 0.75;
    transform: scale(1.05);

}